body
{
    margin: auto;
}
.flex-container
{
    display: flex;

}
/* .flex-item-1
{
    height: 100px;
    margin-top: 220px;
    margin-left: 550px;
}
.flex-item-2
{
    height: 100px;
    margin-top: 220px;
    margin-left: 650px;
}
.flex-item-3
{
    height: 100px;
    margin-top: 220px;
    margin-left: 750px;
}
.flex-item-4
{
    height: 100px;
    margin-top: 220px;
    margin-left: 750px;
}
.flex-item-5
{
    height: 100px;
    margin-top: 220px;
    margin-left: 750px;
}
.flex-item-6
{
    height: 100px;
    margin-top: 220px;
    margin-left: 750px;
} */
/* li
{
    display: inline;
    font-size: 100px;
}
ul
{
    margin-left: 380px;
    margin-top: 130px;
} */
.img
{
    margin-left: 500px;
    margin-top: 50px;
}
.input
{
    height: 50px;
    width: 600px;
    margin-top: 40px;
    margin-left: 350px;
    border: 2px ;
    border-radius: 40px;
    border: double;
    padding-left: 40px;
}
.inputdisplay
{
    display: flex;
}
#i
{
    margin-left: -590px;
    color: gray;

}
#i2
{
    margin-left: 490px;
    padding: 10px;
    color:rgb(59, 59, 199);
}
#input1
{
    height: 40px;
    width: 130px;
    margin-top: 20px;
    margin-left: 490px;
    border: none;
    border-radius: 8px;
}
#input1:hover
{
    border: solid rgb(212,212,212);

}
#input2
{
    height: 40px;
    width: 150px;
    margin-top: 21px;
    /* margin-bottom: 30px; */
    margin-left: 40px;
    border: none;
    border-radius: 8px;
}
#input2:hover
{
    border: solid rgb(212,212,212);
}
pre
{
    font-size: 13px;
    margin-left: 470px;
}
span
{
    font-family: Arial, sans-serif;
}
.pre1
{
    font-size: 13px;
    margin-left: 390px;
    font-family: Arial, sans-serif;
}
.div
{
    background-color: #c0c5c9;
    margin-left: -600px;
    height: 100px;
}
.pre2
{
   margin-left: 220px;
   margin-top: 100px;  
}
li
{
    display: inline;
    color: black;
    padding: 10px;
    cursor: pointer;
}
.flex-item1
{
    flex:40%;
}
.flex-item2
{
    flex: 60%;
    margin-left: 900px;
    margin-top: -30px;
}

